/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
}

.info-card {
  width: 100%;
  max-width: 400px; /* Adjust max-width as needed for larger screens */
  margin: auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the button container */
.button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between buttons as needed */
}

#mapInGoogle,
#hidden-click {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Set desired width */
  height: 40px; /* Set desired height */
  background: none;
  border: none;
  padding: 0;
}

#mapInGoogle img,
#hidden-click img {
  width: 100%; /* Ensure images fill their containers */
  height: auto;
}

#hidden-click {
  cursor: pointer;
  position: relative; /* Updated for potential relative positioning */
  font-weight: bold;
  font-size: 20px;
}

#hidden-click:hover,
#mapInGoogle:hover {
  opacity: 0.8; /* Adds a hover effect */
}

#hidden-click:focus,
#mapInGoogle:focus {
  outline: none; /* Removes default focus outline */
  box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5); /* Adds a focus shadow */
}

/* Styles for overflow hidden and strong text */
.overflow-hidden {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.overflow-hidden strong {
  font-size: 1.2em;
}

/* Styles for the image container and hover effects */
.image-container {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-container:active {
  z-index: 1;
  transform: translateY(-200px);
}

.hover-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.hover-image:active {
  transform: scale(1.05); /* Slightly increase the scale on active */
}

.image-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0 opacity 0.3s ease;
}

.image-container:hover .image-info {
  opacity: 1;
  visibility: visible;
}

/* Styles for the description container */
.description-container {
  text-align: justify;
  max-height: 160px;
  overflow-y: auto;
  background-color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Styles for the title */
.title {
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 15px 5px;
  font-weight: bold;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .info-card {
    max-width: 100%;
    padding: 10px;
  }

  .overflow-hidden strong {
    font-size: 1em;
  }

  .button-container img {
    width: 20px;
    height: 20px;
  }

  .description-container {
    max-height: 120px;
  }

  .container {
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  .menu .menu-an {
    width: 100%;
  }

  .menu .menu-an .menu-an-foot .link-map {
    font-size: 18px;
  }

  ul {
    padding-left: 5px;
  }

  ul li {
    padding: 4px;
  }

  ul li a {
    font-size: 14px;
  }

  .menu-container {
    width: 100%;
  }

  #info-box {
    width: 100%;
    top: auto;
    bottom: 0;
  }

  #info-card {
    width: 100%;
    bottom: 0;
  }
}
