#map-container {
  position: relative;
  display: none;
  img {
    justify-content: center;
  }
  }

 
#cavas-container {
  position: absolute;
  top: 50%;
  height: 50%;
}

  .marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  }
  
  #info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  display: block;
  }
  
  .hidden {
  display: block;
  }

  /* #info-card {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #info-card strong {
    font-weight: bold;
  }
  
  #info-card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  } */
  
/* #info-card {
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */


  
  body {
    font-family: "Oxygen", sans-serif;
    color: #050505;
  }
  
  .cards {
    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    width: 250px;
    height: auto;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
  }
  
  .card_image {
    position: relative;
    max-height: 250px;
  }
  
  .card_image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card_price {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    background-color: #c89b3f;
    font-size: 18px;
    font-weight: 700;
  }
  
  .card_price span {
    font-size: 12px;
    margin-top: -2px;
  }
  
  .note {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 0.25rem;
    background-color: #c89b3f;
    font-size: 14px;
    font-weight: 700;
  }
  
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    position: relative;
    padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
    max-height: 290px;
    overflow-y: scroll;
  }
  
  .card_content::-webkit-scrollbar {
    width: 8px;
  }
  
  .card_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
  }
  
  .card_content::-webkit-scrollbar-thumb {
    background: #c89b3f;
    border-radius: 15px;
  }
  
  .card_title {
    position: relative;
    margin: 0 0 24px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .card_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c89b3f;
    content: "";
  }
  
  hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #c89b3f;
  }
  
  .card_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .card_text p:last-child {
    margin: 0;
  }