.menu-container {
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* đảm bảo menu hiển thị trên cùng */
}

#menu-hien {
  cursor: pointer; /* biểu tượng menu trông như một nút kích hoạt */
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px; /* Độ rộng của menu */
  background-color: #ffffff; /* Màu nền của menu */
  border-right: 1px solid #cccccc; /* Đường viền bên phải */
  padding: 20px; /* Khoảng cách giữa nội dung và biên của menu */
}

.menu-an-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Khoảng cách dưới cùng của tiêu đề */
}

.title {
  font-size: 20px; /* Kích thước phông chữ của tiêu đề */
  font-weight: bold; /* Chữ đậm */
}

.menu-an-foot {
  margin-bottom: 20px; /* Khoảng cách dưới cùng của nội dung chính */
}

.link-map {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Khoảng cách giữa các mục trong menu */
}

.link-map p {
  margin: 0; /* Loại bỏ khoảng cách mặc định */
}

ul {
  list-style: none; /* Loại bỏ dấu chấm của danh sách */
  padding: 0; /* Loại bỏ padding mặc định */
  margin: 0; /* Loại bỏ margin mặc định */
}

ul li {
  margin-bottom: 10px; /* Khoảng cách giữa các mục trong danh sách */
}

ul li a {
  text-decoration: none; /* Loại bỏ đường gạch chân của liên kết */
  color: #333333; /* Màu chữ cho các liên kết */
}

ul li img {
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

hr {
  border: 0;
  border-top: 1px solid #cccccc; /* Đường kẻ ngang giữa các phần của menu */
  margin-bottom: 20px; /* Khoảng cách dưới cùng của đường kẻ ngang */
}

.menu-an-foot {
  width: 100%; /* Adjust based on your requirement */
}

/* Common styles for both link sets */
.link-map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none; /* Remove underline from links */
  background-color: #f9f9f9; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px;
  color: #333; /* Dark grey text color */
  font-size: 16px;
  cursor: pointer;
}

.link-map:hover {
  background-color: #e9e9e9; /* Slightly darker grey on hover */
}

/* Styles for text paragraphs */
.link-map p {
  margin: 0;
}

/* Styles for box-icons */
.link-map box-icon {
  cursor: pointer;
  margin-left: 10px;
}

/* Initially hide both icons */
.link-map box-icon {
  display: none;
}

/* Show the down chevron when the dropdown is hidden */
.link-map.hide box-icon[name='chevron-down'] {
  display: inline-block;
}

/* Show the up chevron when the dropdown is visible */
.link-map.show box-icon[name='chevron-up'] {
  display: inline-block;
}


