#map-container {
  position: relative;
  /* display: none; */
  justify-content: center;
}

#myCanvas {
  right: 0;
}

#cavas-container {
  right: 0;
  position: absolute;
  top: 50%;
  height: 50%;
}

#myCanvas {
  right: 0;
}

.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

#info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  display: block;
}

.hidden {
  display: block;
}

#info-card {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#info-card strong {
  font-weight: bold;
}

#info-card img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.menu {
  background-color: #e7e7e7;
}

.title {
  /* background-color: rgb(116, 108, 108); */
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 15px 5px;
  font: bold;
}

.link-map p {
  color: rgb(0, 0, 0);

  border-radius: 15px;
}

.link-map {
  width: 300px;
  padding: 5px 10px;
  border-radius: 10px;

}

.link-map:hover {
  background-color: #aaaaaa;
}


#goi-y-nam-yen {
  display: none;
}

#len {
  display: none;
}

#goi-y-ta-lang {
  display: none;
}

#up {
  display: none;
}

#menu-hien {
  z-index: 1;
}

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: auto;
  /* display: none; */
}

#menu-hien {
  position: absolute;
  display: none;
  top: 10px;
  left: 10px;
}

.menu .menu-an {
  width: 300px;
  height: 100vh;
}

.menu .menu-an .menu-an-foot {
  width: 300px;
}

.menu .menu-an .menu-an-foot .link-map {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}



.menu-an-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    /* Đảm bảo rằng hình ảnh map không vượt quá kích thước màn hình */
  }

  img {
    max-width: 100%;
  }
}

ul {
  list-style: none;
  padding-left: 10px;
  width: 300px;
}



ul li {
  width: 300px;
  display: flex;
  padding: 6px;
  justify-content: left;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: #bebebe;
  border-radius: 5px;
}

ul li a {
  text-decoration: none;
  font-size: 15px;
  color: black;

}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-container {
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.image-container:active {
  transform: translateY(-300px)
}

.hover-image {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.hover-image:active {
  transform: scale(5); 
}

.image-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0 opacity 0.3s ease;
}

.image-container:hover .image-info {
  opacity: 1;
  visibility: visible;
}




/* .overflow-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; 
}  */

